Repository n24q02m/mnemo-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, typescript-check, test

biome-check:
  name: biome check
  entry: mise exec -- pnpm exec biome check --write
  language: system
  pass_filenames: true

typescript-check:
  name: typescript type check
  entry: mise exec -- pnpm exec tsc --noEmit
  language: system
  pass_filenames: false

test:
  name: test (TypeScript)
  entry: mise exec -- pnpm test
  language: system
  pass_filenames: false

fix: biome formatting in test files
  tests/compaction.test.ts
  tests/system-prompt.test.ts
Due: biome-check, typescript-check, test

feat: add Codecov coverage upload and CodeRabbit config
  .coderabbit.yaml
  .github/workflows/ci.yml
  vitest.config.ts
Due: biome-check, typescript-check, test

feat(ci): add StepSecurity Harden-Runner to all workflow jobs (audit mode)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

fix(deps): update @modelcontextprotocol/sdk to 1.27.1
  package.json
  pnpm-lock.yaml
Due: biome-check

feat(ci): add Renovate config for automated dependency updates
  renovate.json
Due: biome-check

chore: change Renovate schedule to daily 5am
  renovate.json
Due: biome-check

fix: align enforce-commit.sh with standard script
  scripts/enforce-commit.sh
Due: none

chore: add Gemini Code Assist style guide
  .gemini/styleguide.md
Due: none

chore: remove CodeRabbit config, migrating to Gemini Code Assist
  .coderabbit.yaml
Due: none

fix: update README badges with Codecov, tech stack, and engineering standards
  README.md
Due: none

docs: standardize README structure with bold tagline and license link
  README.md
Due: none

fix: format renovate.json for Biome compatibility
  renovate.json
Due: biome-check

feat(ci): migrate to Qodo Merge AI Review (Gemini 3 Flash)
  .github/best_practices.md
  .github/workflows/ci.yml
Due: none

fix(ci): fix Qodo Merge env variable dot notation bug
  .github/workflows/ci.yml
Due: none

fix(ci): fix syntax errors and correctly configure Qodo + Gemini 3 Flash
  .gemini/styleguide.md
  .github/workflows/ci.yml
Due: none

fix(ci): move pr-agent config to .pr_agent.toml
  .github/workflows/ci.yml
  .pr_agent.toml
Due: none

fix(ci): fix Qodo model to gemini-3-flash-preview
  .pr_agent.toml
Due: none

fix(ci): update to supported Gemini 3 and 2.5 flash models
  .pr_agent.toml
Due: none

feat: migrate to 2025-2026 tech stack (bun/biome)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .gitignore
  .mise.toml
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  bun.lock
  package.json
  pnpm-lock.yaml
Due: biome-check

chore(release): v1.3.0
  CHANGELOG.md
  package.json
Due: biome-check

fix(windows): replace bunx with bun x for cross-platform compatibility
  .github/workflows/cd.yml
Due: none

feat(core): extract memory-service, add platform adapters, add CLAUDE.md init subcommand
  .gitignore
  hooks/hooks.json
  package.json
  scripts/build-cli.js
  src/core/memory-service.ts
  src/hooks/auto-capture.ts
  src/hooks/compaction.ts
  src/hooks/system-prompt.ts
  src/index.ts
  src/platforms/omp/index.ts
  src/platforms/opencode/index.ts
  src/tools/memory.ts
Due: biome-check, typescript-check, test

chore(release): v1.4.0
  CHANGELOG.md
  package.json
Due: biome-check

fix(auto-capture): prevent unbounded memory growth in message buffer (#34)
  src/hooks/auto-capture.ts
  src/hooks/compaction.ts
  src/hooks/system-prompt.ts
  tests/auto-capture.test.ts
Due: biome-check, typescript-check, test

⚡ Bolt: optimize sessionBuffer memory usage and constraint checks (#35)
  src/hooks/auto-capture.ts
Due: biome-check, typescript-check, test

fix: update dependencies to fix security alerts
  bun.lock
  package.json
Due: biome-check

fix: format codebase via biome check
  src/hooks/auto-capture.ts
Due: biome-check, typescript-check, test

chore(release): v1.4.1
  CHANGELOG.md
  package.json
Due: biome-check

fix: Update Codecov badge in README.md
  README.md
Due: none

docs: add archive notice and migration guide to README
  README.md
Due: none

Path conditions:
  biome-check: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.jsx$, \.json$, \.css$
  typescript-check: any of: \.(ts|mts|cts)$
  test: any of: \.(ts|mts|cts)$
